<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>
	<servlet>
		<servlet-name>Book Info</servlet-name>
		<servlet-class>BookServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Change Password</servlet-name>
		<servlet-class>servlet.ChangePasswordServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Remove Item</servlet-name>
		<servlet-class>servlet.RemoveItemServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Cart</servlet-name>
		<servlet-class>servlet.CartServlet</servlet-class>		
	</servlet>           
        <servlet>
		<servlet-name>Purchase</servlet-name>
		<servlet-class>servlet.ShoppingServlet</servlet-class>		
	</servlet>      
        <servlet>
		<servlet-name>BookUpDel</servlet-name>
		<servlet-class>BookUpdateDelServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>BookUser</servlet-name>
		<servlet-class>BookUserServlet</servlet-class>		
	</servlet> 
        <servlet>
		<servlet-name>Book Add</servlet-name>
		<servlet-class>BookAddServlet</servlet-class>		
	</servlet>        
        <servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>User Info</servlet-name>
		<servlet-class>UserServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>User Register</servlet-name>
		<servlet-class>UserRegisterServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>UserFemale</servlet-name>
		<servlet-class>UserFemaleServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>UserMale</servlet-name>
		<servlet-class>UserMaleServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>       
        <servlet>
		<servlet-name>BookIdx</servlet-name>
		<servlet-class>BookIndexServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Home Page</servlet-name>
		<servlet-class>HomeServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>BusinessUsr</servlet-name>
		<servlet-class>servlet.BookBusinessUserServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>ChildrenUsr</servlet-name>
		<servlet-class>servlet.BookChildrenUserServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>ComputerUsr</servlet-name>
		<servlet-class>servlet.BookComputerUserServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>CookingUsr</servlet-name>
		<servlet-class>servlet.BookCookingUserServlet</servlet-class>		
	</servlet>
	<servlet>
		<servlet-name>FamilyUsr</servlet-name>
		<servlet-class>servlet.BookFamilyUserServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>FitnessUsr</servlet-name>
		<servlet-class>servlet.BookFitnessUserServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>ProgrammingUsr</servlet-name>
		<servlet-class>servlet.BookProgrammingUserServlet</servlet-class>		
	</servlet>           
        <servlet>
		<servlet-name>Business</servlet-name>
		<servlet-class>BookBusinessServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Children</servlet-name>
		<servlet-class>BookChildrenServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Computer</servlet-name>
		<servlet-class>BookComputerServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Cooking</servlet-name>
		<servlet-class>BookCookingServlet</servlet-class>		
	</servlet>
	<servlet>
		<servlet-name>Family</servlet-name>
		<servlet-class>BookFamilyServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>Fitness</servlet-name>
		<servlet-class>BookFitnessServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>Programming</servlet-name>
		<servlet-class>BookProgrammingServlet</servlet-class>		
	</servlet>        
        <servlet>
		<servlet-name>Book Eng</servlet-name>
		<servlet-class>BookEngServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>BusinessEng</servlet-name>
		<servlet-class>BookBusinessEngServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>ChildrenEng</servlet-name>
		<servlet-class>BookChildrenEngServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>ComputerEng</servlet-name>
		<servlet-class>BookComputerEngServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>CookingEng</servlet-name>
		<servlet-class>BookCookingEngServlet</servlet-class>		
	</servlet>
	<servlet>
		<servlet-name>FamilyEng</servlet-name>
		<servlet-class>BookFamilyEngServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>FitnessEng</servlet-name>
		<servlet-class>BookFitnessEngServlet</servlet-class>		
	</servlet>
        <servlet>
		<servlet-name>ProgrammingEng</servlet-name>
		<servlet-class>BookProgrammingEngServlet</servlet-class>		
	</servlet>
        <servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/shoplist.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>Change Password</servlet-name>
		<url-pattern>/reset.do</url-pattern>
	</servlet-mapping>
         <servlet-mapping>
		<servlet-name>Remove Item</servlet-name>
		<url-pattern>/ri.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>BookUpDel</servlet-name>
		<url-pattern>/delup.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>Purchase</servlet-name>
		<url-pattern>/buy.do</url-pattern>
	</servlet-mapping> 
         <servlet-mapping>
		<servlet-name>BookUser</servlet-name>
		<url-pattern>/bkusr.do</url-pattern>
	</servlet-mapping>   
        <servlet-mapping>
		<servlet-name>BookIdx</servlet-name>
		<url-pattern>/bkx.do</url-pattern>
	</servlet-mapping>     
        <servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/in.do</url-pattern>
	</servlet-mapping>
         <servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/out.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>Book Add</servlet-name>
		<url-pattern>/ab.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User Register</servlet-name>
		<url-pattern>/regusr.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Book Info</servlet-name>
		<url-pattern>/book.do</url-pattern>
	</servlet-mapping>         
        <servlet-mapping>
		<servlet-name>ProgrammingUsr</servlet-name>
		<url-pattern>/pgrusr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChildrenUsr</servlet-name>
		<url-pattern>/chdusr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home Page</servlet-name>
		<url-pattern>/home.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ComputerUsr</servlet-name>
		<url-pattern>/comusr.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>CookingUsr</servlet-name>
		<url-pattern>/ckusr.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>FamilyUsr</servlet-name>
		<url-pattern>/famusr.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>FitnessUsr</servlet-name>
		<url-pattern>/ftnusr.do</url-pattern>
	</servlet-mapping>               	        	
	<servlet-mapping>
		<servlet-name>Programming</servlet-name>
		<url-pattern>/pgr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Business</servlet-name>
		<url-pattern>/biz.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>BusinessUsr</servlet-name>
		<url-pattern>/bizusr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Children</servlet-name>
		<url-pattern>/chd.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Computer</servlet-name>
		<url-pattern>/com.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>Cooking</servlet-name>
		<url-pattern>/ck.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>Family</servlet-name>
		<url-pattern>/fam.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>Fitness</servlet-name>
		<url-pattern>/ftn.do</url-pattern>
	</servlet-mapping>        
        <servlet-mapping>
		<servlet-name>Book Eng</servlet-name>
		<url-pattern>/bke.do</url-pattern>
	</servlet-mapping>        	        	
	<servlet-mapping>
		<servlet-name>ProgrammingEng</servlet-name>
		<url-pattern>/pgre.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BusinessEng</servlet-name>
		<url-pattern>/bize.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChildrenEng</servlet-name>
		<url-pattern>/chde.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ComputerEng</servlet-name>
		<url-pattern>/come.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>CookingEng</servlet-name>
		<url-pattern>/cke.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>FamilyEng</servlet-name>
		<url-pattern>/fame.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>FitnessEng</servlet-name>
		<url-pattern>/ftne.do</url-pattern>
	</servlet-mapping>
        
        <servlet-mapping>
		<servlet-name>User Info</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>UserFemale</servlet-name>
		<url-pattern>/userf.do</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>UserMale</servlet-name>
		<url-pattern>/userm.do</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/Librarydb</param-value>
	</context-param>
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>Tiego</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>2014</param-value>
	</context-param>        
        <session-config>
                <session-timeout>15</session-timeout>
        </session-config>
</web-app>